/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/*a {
  color: #00B7FF;
}*/

body {
    background: #eee
}

select {
    font-size: 16px !important;
    letter-spacing: 0.1em !important;
}

select > option {
    letter-spacing: initial !important;
}

/**************************** ADMIN VIEW****************************/
.admin-home-page {
    margin: 54px  0 15px;
    /* position: fixed; */
}

tr.admin td:last-child{

    white-space:nowrap;
}
.a-admin-page {
    color: #fff;
}

.table-wrapper{
    display: block;
    min-height: 720px;
    max-height: 720px;
    overflow-y: auto;
    /* -ms-overflow-style: -ms-autohiding-scrollbar; */
}
.dropdown-menu {
    height: auto;
    max-height: 350px;
    overflow-x: scroll;
}

.food_name, .food_street, .food_restaurant {
    table-layout: auto;
    width: 11%;
}

.food_status, .food_city {
    table-layout: auto;
    width: 7%;
}
 .food_owner,  .food_district {
    table-layout: auto;
    width: 11%;
}
.res-street, .res-district, .res-city, .res-food-name {
    table-layout: auto;
}
.res-street, .res-food-name {
    width: 10%;
}

.res-district, .res-city {
    width: 8%;
}

.table th {
    vertical-align: middle;
    text-align: center;
}

.table td {
    vertical-align: middle !important;
}

#sidebar {
    /* background: #7386D5; */
    color: #d63e6f;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff
    /* background: #6d7fcc; */
}

#sidebar ul.components {
    padding:  0 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}


#sidebar ul li.active > a, a[aria-expanded="true"] {
    /* color: #d63e6f; */
    /* background: blue; */
    background: #e6adc2;
}

.active {
    background: #e6adc2;
}

/*
a.nav-active[data-toggle="collapse"] {
    position: relative;
}

a.nav-active[aria-expanded="false"]::before, a.nav-active[aria-expanded="true"]::before {
    content: '\e259';
    display: inline-block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a.nav-active[aria-expanded="true"]::before {
    content: '\e260';
} */
/*
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
} */
/****************************END ADMIN ****************************/

/**************************** FOOD DETAIL ****************************/
.video-drive {
    height: 350px;
}

.index-img{
    min-height: 350px;
    max-height: 550px;
}

.comment-avatar {
    height: 75px;
}

.comment-username {
    color: blue;
    font-size: 18px;
    font-weight: 500;
}

.comment-datetime {
    font-style: italic;
    font-weight: 400;
}
.title {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 25px;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #b7106a;
    text-transform: uppercase;
}
.login-modal{
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
}
.alert-modal-text{
    font-size: 17px;
    /* letter-spacing: 1px; */
    line-height: 3;
    text-align: center;

}
.food-title {
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #b7106a;
    text-transform: uppercase;
}

.table-food{
        table-layout: fixed;
}
.table-food .index-column {
    width: 15%;
}

.mrg-1{
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

/* .pending-table th, .pending-table td {
    vertical-align: middle;
} */

.card-body {
    padding-top: 15px;
}

.food-utility {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
}

.title-header{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 35px;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #b7106a;
    text-transform: uppercase;
}
/****************************END  FOOD DETAIL ****************************/

/*************************** FOOD LIST ***************************/


.food-suggest {
    position: relative;
    width: 100%;
}
.icon-heart-suggest {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

.food-detail-info-suggest > li {
    color: #fff;
}

.home-image {
    width: 100%;
    height: 180px;
}

.li-price-suggest {
    font-size: 18px;
    font-weight: 700 !important;
}

.food-detail-suggest{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

}

ul.food-detail-info-suggest{
    position: absolute;
    bottom: 0;
    padding-left: 16px;
    list-style: none;
    text-align: left;
}

.food-detail-info-suggest > li{
    color: #fff;
}
.li-price-suggest{
    font-size: 18px;
    font-weight: 700 !important;
}
.li-child-suggest{
    font-size: 13px;
    font-weight: 500;
}
.price-detail-estimate{
    background: #fbfbfb;
    border-radius: 10px;
    margin-top: 30px;
}


/*************************** END FOOD LIST ***************************/
.max-width {
    width: 100%;
}
.login-google-button {
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s,border-color .3s;
    border: calc(.06887vw + .67769px) solid #dc3545;
    padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
}
.kep-login-facebook, .login-google-button {
    width: 100% !important;
}
.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.main-color {
    background-color: #d63e6f;
}

/*************************** NOTIFICATION ***************************/

.notification-message > h4.title{
    color: #fff;
}

.notification-container {
    top: 120px !important;
}
/*************************** END NOTIFICATION ***************************/

/*************************** NAVBAR ***************************/

.ReactModal__Overlay {
    z-index: 2000 !important;
}
.search-form{
    z-index: 1000;
}

.navbar {

	font-weight: 400;
	font-size: 20px;
	/*height: 100px;*/
}

.main-color, .navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-expand-lg {
    padding-bottom: 0 !important;
}

.main-content {
    margin-top: 120px;
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
}

.nearby-header {
    font-size: 30px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 1px;
    color: #b7106a;
    /* text-transform: uppercase; */
}

.nearby-title{
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
}

.search {
    margin-top: 8px;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #fff;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
}

.search-not-found{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.8em;
}
.number-result-search{
    font-size: 20px;
    font-weight: 400;
    line-height: 54px;
    vertical-align: middle;
}

.mrg-15 {
    margin-left: -15px;
    margin-right: -15px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    font-family: 'Roboto', sans-serif;
    word-wrap:break-word;
    font-size: 16px;
}

.search-text{
	margin-top:50px;
	background-color: #272d33;
	padding-top:60px;
	padding-bottom:60px;
}

.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:#333;
}

.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
	color:#FFF;
	height: 45px;
    width: 80px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

/*************************** END NAVBAR ***************************/

footer{
    background-color: #33383c;
    padding:30px 0px;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* margin-top: 50px; */
}

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF;
   font-weight: bold;
   border-bottom: 1px solid #c7c7c7;
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #fff;
    margin-right: 10px;
    font-size:18px;
}


/* --------------LOGIN AND SIGNUP FORM----------------- */

.form-body{
    background:#fff;
    padding:20px;
}
.login-form{
    background:rgba(255,255,255,0.8);
  padding:20px;
  border-top:3px solid#3e4043;
}
.innter-form{
  padding-top:20px;
}
.final-login li{
  width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
  color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
  border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
  text-transform:uppercase;
  font-size:16px;
}

.social-login{
  text-align:center;
  font-size:12px;
}
.social-login p{
  margin:15px 0;
}
.social-login ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.social-login ul li{
  width:33%;
  float:left;
    clear:fix;
}
.social-login ul li a{
  font-size:13px;
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  display:block;
}
.social-login ul li:nth-child(1) a{
  background:#3b5998;
}
.social-login ul li:nth-child(2) a{
  background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
  background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
  padding:10px;
  border:1px solid#ccc;
  outline:none;
  width:100%;
  margin:8px 0;

}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
  }
  .sa-innate-form input[type=submit]:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
  }

  .sa-innate-form button{
  border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
  }
  .sa-innate-form button:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
  }
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }
